.cadastro-container {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 400px;
  padding: 40px;
}

.cadastro-page {

  display: flex;
  justify-content: center;
  align-items: center;
 
}

.cadastro-container h2 {
  margin-bottom: 30px;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.cadastro-container form {
  display: flex;
  flex-direction: column;
}

.cadastro-container label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.cadastro-container select,
.cadastro-container input[type="text"],
.cadastro-container input[type="email"],
.cadastro-container input[type="password"] {
  width: 100%;
  padding: 10px 0;
  outline: none;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
}

.cadastro-container button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cadastro-container button[type="submit"]:hover {
  background-color: #0056b3;
}