.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  
  .profile-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
  }
  
  .profile-container p {
    margin-bottom: 5px;
    color: white;
  }
  
  .loading {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  
  