.footer-container {
    background-color: #f8f9fa;
    padding: 20px;
    
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-text {
    font-size: 14px;
    color: #6c757d;
  }
  
  .social-icons {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .social-icons li {
    margin-left: 10px;
  }
  
  .social-icons a {
    color: #6c757d;
  }
  
  .social-icons a:hover {
    color: #212529;
  }
  