.custom-navbar {
    background-color: #333; /* Cor de fundo da barra de navegação */
    height: 120px;
  }
  
  .logo {
    margin-right: 10px; /* Margem direita para separar o logotipo dos itens de navegação */
  }
  
  .nav-link {
    color: #fff !important; /* Cor do texto dos links de navegação */
    margin-right: 10px; /* Margem direita entre os itens de navegação */
  }

  
  .icon {
    font-size: 24px; /* Define o tamanho desejado */
  }
  


.button-separator {
  margin-left: 8px;
}

  /* Navegacao.css */

.navbar-brand-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.justify-content-start {
  justify-content: flex-start;
}
